body {
  background-color: rgb(250, 250, 250);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  width: min(100vw, 100vh);
  height: min(100vw, 100vh);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

.column {
  flex: 1;
  margin: 0 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hand {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.card {
  width: 100px;
  height: auto;
  margin: 4px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

.face-down {
  background-color: gray;
}

/* deck and discard pile */
.piles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin: 2vh 0;
}

.pile {
  width: 100px;
  height: auto;
  margin: 4px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

.deck, .discard {
  width: 100px;
  height: auto;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}
  

/* the messages */
.turn-indicator {
  margin-top: 1vh;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.player1-card {
  border: 2px solid black !important;
}

.player2-card {
  border: 2px solid gray !important;
}

.card.selected {
  border: 5px solid darkgreen !important;
  background-color: rgb(217, 233, 238);
}

.drawn-card-prompt {
  text-align: center;
  margin: 10px 0;
}

.drawn-buttons {
  margin-top: 10px;
}

.drawn-buttons button {
  margin: 0 5px;
}

.winner {
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
  text-align: center;
}

.message {
  color: red;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}
